@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
- suggested height for this section: 600px
- background color: rgba(232,217,217,.3)
- "See plans" button background color: #FB3B49
- "See plans" button box shadow: 8px 8px 0 rgba(251,59,73,.2)*/

body {
    font-family: "Poppins";
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-family: "Poppins"
}

h1 {
    font-family: "Poppins", "sans-serif";
    font-size: 9em;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-family: "Poppins", "sans-serif";
    font-size: 5.5em;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border: 1px solid black
}

nav {
    width: 600px;
    margin-right: 0px;
    border: 1px solid black
}

nav ul {
    margin-right:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-ul li {
    font-size: 1.6em;
}

nav a {
    text-decoration: none;
    color: black;
}

#heart {
    width: 20px;
    margin-right: 1rem;
}

.searchbar {
    border: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchbar-form {
    display: flex;
    justify-content: center;
    flex-direction: space-between;
    align-items: center;
    margin: 0;
}



.searchbar input {
    width: 650px;
    height: 25px;
    background-color: lightgray;
    font-size: 18px;
    border: 1px solid white;
    color:rgba(0,0,0,.05);
    border: 1px solid black;

}

.searchbar button {
    height: 25px;
    color: white;
    font-size:1.5em;
    background-color: #fb3e44;
    margin: 15px 40px 15px 0;
    border: 1px solid black
}

.searchbar a {
    color: black;
    text-decoration: none;
    border: 1px solid black
}

#searchbar-join-btn {
    border: 0.5px solid darkgrey;
    border-top: 1px solid black;
}

#npm { 
    margin-right: 90px;
    width: 70px;
    border: 1px solid black;
}

#search-icon {
    height: 20px;
    height: 23px;
    background-color: lightgray;
    border: 1px solid black
}

.nav-btn {
    margin-left: 90px
}


#introduction {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#introduction h1 {
    font-size: 9em;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
    border: 1px solid black;
}

.intro-btn {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
   

}

.intro-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 300px;
    color: black;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 600;
}

#red-btn {
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#white-btn {
    background-color: white;
}

#main {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black
}

#main img {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 400px;
}

#main h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 15px 50px 7px;
}





